---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="CV | Steven">
	<main class="container w-full min-h-screen mx-auto px-4 py-2">
		<hgroup class="text-center">
			<h1 class="text-4xl font-bold tracking-tighter">Steven Jose Silva Gomez</h1>
		</hgroup>
		<section class="w-full mt-4 p-2 flex flex-col items-center">
			<div class="grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))]">
				<picture class="relative mx-auto block w-72 h-72 border border-orange-400/20 bg-orange-50 rounded-full overflow-hidden">
					<img class="absolute w-full h-full inset-0 object-contain object-center -translate-x-3" src="https://res.cloudinary.com/dpnfudcqd/image/upload/v1697746483/aeormsfvnz8zqrftzhgp.webp" alt="a man wearing glasses and a t - shirt looks at the camera with a serious look on his face">
				</picture>
				<article class="text-center">
					<h2 class="text-2xl font-semibold tracking-tight opacity-80">Ingeniero en sistemas informaticos</h2>
					<p class="text-xl font-semibold text-balance opacity-60">1996</p>
				</article>
			</div>
			<hr class="w-3/4 mt-4 border-2 border-red-400 opacity-60 "/>
			<article class="grid grid-cols-2 space-x-2 py-4">
				<aside class="flex flex-col border-r-4 border-red-400 px-2 gap-y-2">
					<h3 class="font-semibold text-lg ">INFORMACION SOBRE MI</h3>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, sequi! </p>
					<h3 class="font-semibold text-lg">APTITUDES PROFESIONALES</h3>
					<ul>
						<li>Aptitud 1</li>
						<li>Aptitud 2</li>
					</ul>
				</aside>
				<section class="px-2 space-y-2">
					<h3 class="font-semibold text-lg">FORMACION</h3>
					<ul>
						<li>Formacion 1</li>
						<li>Formacion 2</li>
						<li>Formacion 3</li>
					</ul>
					<h3 class="font-semibold text-lg">EXPERIENCIA PROFESIONAL</h3>
					<ol>
						<li>Trabajo 1</li>
						<li>Trabajo 2</li>
						<li>Trabajo 3</li>
					</ol>
				</section>
			</article>
		</section>
	</main>
</Layout>

